<footer class="footer-main">

    
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="light" data-vanity="ergunsimsekoglu"><a class="LI-simple-link" href='https://tr.linkedin.com/in/ergunsimsekoglu?trk=profile-badge'>Ergun Simsek</a></div>
    
    
    

    © {{ site.time | date: '%Y' }} ergun.app <a class="link" href="{{ site.url }}/feed.xml" target="_blank"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>

</footer>
