<nav class="{% if page.title == "Home" %}nav-home{% else %}nav{% endif %}">
    <ul class="list">
        {% if page.title != "Home" %}
            <li class="item">
                <a class="link" href="{{ site.url }}/">Home</a>
            </li>
        {% endif %}


        {% if site.projects == true %}
            {% if page.title != "Projects" %}
                <li class="item">
                    <a class="link" href="http://devpost.com/iszfan">Projects</a>
                </li>
            {% endif %}
        {% endif %}

<li class="item">
                    <a class="link" href="{{ https://payhip.com/b/j2eh }}/daily">Buy my e-book</a>
                </li>
        
        
    </ul>
</nav>
